/*--------------Main Pages--------------*/
body {
  background-color: #EAFAF1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin: 0px; }
  body ::placeholder {
    color: black; }
  body h1 {
    font-size: 40px;
    font-weight: bold; }
  body h2 {
    font-size: 30px; }
  body p {
    font-size: 20px;
    font-weight: bold; }

header .initial-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 60px;
  margin-top: 15px; }

header #search {
  width: 800px;
  height: 30px;
  margin-top: 15px;
  font-size: 20px;
  border: solid black 2px; }

header .nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 30px;
  background-color: #1F618D;
  padding-bottom: 5px; }
  header .nav-bar .nav-bar__a {
    text-decoration: none;
    color: #EAFAF1; }

header .title-color {
  color: #1F618D; }

header .text-color {
  color: black; }

main {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }
  main a {
    color: black;
    text-decoration: none; }
  main .alert {
    margin-bottom: 0px;
    border-radius: 0px; }
    main .alert a {
      color: #1F618D;
      text-decoration: none;
      animation: join-animation;
      animation-duration: 2s;
      animation-iteration-count: infinite; }
  main .headline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px; }
    main .headline .card {
      margin-right: 10px;
      margin-left: 10px;
      border: solid #155724 1px;
      border-radius: 0px; }
      main .headline .card img {
        border: none;
        border-radius: 0px; }
      main .headline .card .card-body .card-body__a {
        font-size: 30px;
        color: #155724; }

footer {
  display: flex;
  flex-direction: column;
  background-color: #1F618D;
  padding: 20px; }
  footer .footer__title {
    font-size: 25px;
    font-weight: bold;
    color: #EAFAF1;
    margin-bottom: 0px; }
  footer .footer__icons {
    font-size: 50px;
    color: #EAFAF1; }
  footer p {
    font-size: 25px; }
  footer .footer__copyright {
    color: #EAFAF1;
    font-weight: bold; }

/*--------------Animations--------------*/
@keyframes join-animation {
  0% {
    opacity: 0.2; }
  10% {
    opacity: 0.3; }
  20% {
    opacity: 0.4; }
  30% {
    opacity: 0.6; }
  40% {
    opacity: 0.8; }
  50% {
    opacity: 1; }
  60% {
    opacity: 0.8; }
  70% {
    opacity: 0.6; }
  80% {
    opacity: 0.4; }
  90% {
    opacity: 0.3; }
  100% {
    opacity: 0.2; } }

/*--------------Media Queries--------------*/
@media only screen and (max-width: 768px) {
  body {
    text-align: center; }
    body h1 {
      font-size: 30px; }
    body h2 {
      font-size: 20px; }
  header .initial-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 50px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px; }
  header #search {
    width: 250px;
    height: 30px;
    margin-top: 10px; }
  header .nav-bar {
    font-size: 10px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px; }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px; }
    main p {
      font-size: 10px; }
    main .alert {
      margin-bottom: 20px; }
    main .headline {
      display: flex;
      flex-direction: column;
      margin: 0px; }
    main .card {
      margin-bottom: 20px; } }

/*--------------Contact--------------*/
.contact {
  display: flex;
  flex-direction: column; }
  .contact h2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #1F618D; }
  .contact .links {
    color: #1F618D;
    text-decoration: none; }
  .contact form {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .contact input {
    width: 300px;
    height: 50px;
    font-size: 20px;
    padding-left: 8px;
    background-color: white;
    border: #1F618D solid 3px;
    margin: 10px; }
  .contact textarea {
    width: 300px;
    height: 200px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding-left: 8px;
    background-color: white;
    border: #1F618D solid 3px;
    margin: 10px; }
  .contact button {
    width: 200px;
    height: 40px;
    font-size: 20PX;
    text-align: center;
    font-weight: bold;
    color: #EAFAF1;
    background-color: #1F618D;
    border: none; }
  .contact ::placeholder {
    color: #1F618D; }

/*--------------Media Queries--------------*/
@media only screen and (max-width: 768px) {
  .contact h2 {
    font-size: 30px;
    margin-top: 0px; }
  .contact .button-delete {
    display: none; } }
