body{
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 0px;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;
    background-color: white;
    padding-bottom: 5px;
}

.nav-bar a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.title-color{
    color: white;
}

.text-color{
    color: black;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
    color: white;
}

h3{
    font-size: 20px;
    color: white;
}

p{
    font-size: 20px;
    color: white;
}

main{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 20px;
    grid-template-rows: 500px;
    justify-content: center;
    margin: 30px;
}

section{
    border: white solid 4px;
    background-image: linear-gradient(to bottom, black, white);
}

button{
    width: 100px;
    height: 40px;
    font-weight: bold;
    border: black solid 4px;
    animation: button-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes button-animation{
    0%{
        opacity: 0.2;
    }
    10%{
        opacity: 0.3;
    }
    20%{
        opacity: 0.4;
    }
    30%{
        opacity: 0.6;
    }
    40%{
        opacity: 0.8;
    }
    50%{
        opacity: 1;
    }
    60%{
        opacity: 0.8;
    }
    70%{
        opacity: 0.6;
    }
    80%{
        opacity: 0.4;
    }
    90%{
        opacity: 0.3;
    }
    100%{
        opacity: 0.2;
    }
}

.promo{
    width: 932px;
    margin-top: 20px;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 20px;
}

.footer__title{
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin-bottom: 0px;
}

.footer__icons{
    font-size: 50px;
    color: black;
}

footer p{
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 16px;    
}

.mailto{
    color: black;
    text-decoration: none;
}

@media only screen and (max-width: 768px){
    .nav-bar{
        height: 20px;
        font-size: 10px;
        font-weight: bold;
        padding-top: 10px;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    section{
        width: 300px;
        height: 400px;
        margin: 10px;
    }

    .promo{
        display: none;
    }
}