/*--------------Contact--------------*/
.contact{
    display: flex;
    flex-direction: column;

    h2{
        font-size: 30px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 10px;
        color: #1F618D;
    } 

    .links{
        color: #1F618D;
        text-decoration: none;
    }
    
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    input{
        width: 300px;
        height: 50px;
        font-size: 20px;
        padding-left: 8px;
        background-color: white;
        border: #1F618D solid 3px;
        margin: 10px;
    }
    
    textarea{
        width: 300px;
        height: 200px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        padding-left: 8px;
        background-color: white;
        border: #1F618D solid 3px;
        margin: 10px;
    }
    
    button{
        width: 200px;
        height: 40px;
        font-size: 20PX;
        text-align: center;
        font-weight: bold;
        color: #EAFAF1;
        background-color: #1F618D;
        border: none;
    }
    
    ::placeholder{
        color: #1F618D;
    }
}

/*--------------Media Queries--------------*/
@media only screen and (max-width: 768px){
    .contact{
        h2{
            font-size: 30px;
        }
    
        .button-delete{
            display: none;
        }
    }
}