$body-color: #EAFAF1;
$nav-color: #1F618D;
$detail-color: #155724;
$main-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

/*--------------Main Pages--------------*/
body{
    background-color: $body-color;
    font-family: $main-font;
    text-align: center;
    margin: 0px;

    ::placeholder{
        color: black;
    }

    h1{
        font-size: 40px;
        font-weight: bold;
    }
    
    h2{
        font-size: 30px;
    }
    
    p{
        font-size: 20px;
        font-weight: bold;
    }
}

header{
    .initial-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 60px;
        margin-top: 15px;
    }

    #search{
        width: 800px;
        height: 30px;
        margin-top: 15px;
        font-size: 20px;
        border: solid black 2px;
    }

    .nav-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 30px;
        background-color: $nav-color;
        padding-bottom: 5px;

        .nav-bar__a{
            text-decoration: none;
            color: $body-color;
        }
    }

    .title-color{
        color: $nav-color;
    }
    
    .text-color{
        color: black;
    }

}

main{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    a{
        color: black;
        text-decoration: none;
    }
    
    .alert{
        margin-bottom: 0px;
        border-radius: 0px;

        a{
            color: $nav-color;
            text-decoration: none;
            animation: join-animation;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
    }

    .headline{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;

        .card{
            margin-right: 10px;
            margin-left: 10px;
            border: solid $detail-color 1px;
            border-radius: 0px;

            img{
                border: none;
                border-radius: 0px
            }

            .card-body{
                .card-body__a{
                    font-size: 30px;
                    color: $detail-color;
                }
            }
        }
    }
}

footer{
    display: flex;
    flex-direction: column;
    background-color: #1F618D;
    padding: 20px;

    .footer__title{
        font-size: 25px;
        font-weight: bold;
        color: $body-color;
        margin-bottom: 0px;
    }

    .footer__icons{
        font-size: 50px;
        color: $body-color;
    }

    p{
        font-size: 25px;
    }

    .footer__copyright{
        color: $body-color;
        font-weight: bold;
    }
}

/*--------------Animations--------------*/
@keyframes join-animation{
    0%{
        opacity: 0.2;
    }
    10%{
        opacity: 0.3;
    }
    20%{
        opacity: 0.4;
    }
    30%{
        opacity: 0.6;
    }
    40%{
        opacity: 0.8;
    }
    50%{
        opacity: 1;
    }
    60%{
        opacity: 0.8;
    }
    70%{
        opacity: 0.6;
    }
    80%{
        opacity: 0.4;
    }
    90%{
        opacity: 0.3;
    }
    100%{
        opacity: 0.2;
    }
}

/*--------------Media Queries--------------*/
@media only screen and (max-width: 768px){
    body{
        text-align: center;

        h1{
            font-size: 30px;
        }
    
        h2{
            font-size: 20px;
        }
    }

    header{
        .initial-bar{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            font-size: 50px;
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
        }

        #search{
            width: 250px;
            height: 30px;
            margin-top: 10px;
        }
    
        .nav-bar{
            font-size: 10px;
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 20px;
        margin-right: 20px;
            
        p{
            font-size: 10px;
        }

        .alert{
            margin-bottom: 20px;
        }
        
        .headline{
            display: flex;
            flex-direction: column;
            margin: 0px;
        }
    
        .card{
            margin-bottom: 20px;
        }
    }
}

@import "contact";
//@import "subscribe";
