body{
    background-color: #EAFAF1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 0px;
}

.initial-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 60px;
    margin-top: 15px;
}

#search{
    width: 800px;
    height: 30px;
    margin-top: 15px;
    font-size: 20px;
    border: solid black 2px;
}

::placeholder{
    color: black;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;
    background-color: #1F618D;
    padding-bottom: 5px;
}

.nav-bar a{
    text-decoration: none;
    color: #EAFAF1;
}

.title-color{
    color: #1F618D;
}

.text-color{
    color: black;
}

h1{
    font-size: 40px;
    font-weight: bold;
}

h2{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

p{
    font-size: 20px;
}

main{
    display: flex;
    flex-direction: column;
}

.links{
    color: #1F618D;
    text-decoration: none;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main input{
    width: 300px;
    height: 50px;
    font-size: 20px;
    padding-left: 8px;
    background-color: white;
    border: #1F618D solid 3px;
    margin: 10px;
}

textarea{
    width: 300px;
    height: 200px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding-left: 8px;
    background-color: white;
    border: #1F618D solid 3px;
    margin: 10px;
}

button{
    width: 200px;
    height: 40px;
    font-size: 20PX;
    text-align: center;
    font-weight: bold;
    color: #EAFAF1;
    background-color: #1F618D;
    border: none;
}

main ::placeholder{
    color: #1F618D;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: #1F618D;
    padding: 20px;
}

footer h3{
    font-size: 25px;
    font-weight: bold;
    color: #EAFAF1;
}

footer i{
    font-size: 40px;
    color: #EAFAF1;
}

footer p{
    font-size: 20px;
    color: #EAFAF1;
    font-weight: bold;
}

@media only screen and (max-width: 768px){
    body{
        text-align: center;
    }

    .initial-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 50px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #search{
        width: 250px;
        height: 30px;
        margin-top: 10px;
    }
    
    .nav-bar{
        font-size: 10px;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    h2{
        font-size: 30px;
    }

    .button-delete{
        display: none;
    }
}