body{
    background-color: #EAFAF1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.initial-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 60px;
}

#search{
    width: 800px;
    height: 30px;
    margin-top: 15px;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 40px;
    background-color: white;
    padding-bottom: 5px;
    border: black 2px solid;
}

.title-color{
    color: #1F618D;
}

h1{
    font-size: 40px;
}

.text-color{
    color: black;
}

.table{
    background-color: white;
}

a{
    color: black;
    text-decoration: none;
}

p{
    font-size: 15px;
}

.links{
    color: #1F618D;
    text-decoration: none;
}