body{
    background-color: #EAFAF1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 0px;
}

.initial-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 60px;
    margin-top: 10px;
}

#search{
    width: 800px;
    height: 30px;
    margin-top: 15px;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;
    background-color: #1F618D;
    padding-bottom: 5px;
}

.nav-bar a{
    text-decoration: none;
    color: #EAFAF1;
}

.title-color{
    color: #1F618D;
}

.text-color{
    color: black;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}

p{
    font-size: 20px;
    font-weight: bold;
}

main{
    display: flex;
    flex-direction: column;
}

.subscribe{
    margin-top: 30px;
}

.subscribe a{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 10px;
}

.subscribe :hover{
    color: black;
    background-color: white;
    border: black solid 4px;
}

main a{
    color: black;
    text-decoration: none;
}

.links{
    color: #1F618D;
    text-decoration: none;
}

.news{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

article{
    width: 500px;
    border: black solid 4px;
    margin: 30px;
    background-color: white;
}

img{
    border: #1F618D solid 4px;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: #1F618D;
    padding: 20px;
}

footer h3{
    color: #EAFAF1;
}

footer i{
    font-size: 40px;
    color: #EAFAF1;
}

footer p{
    font-size: 20px;
    color: #EAFAF1;
    font-weight: bold;
}