body{
    background-color: #EAFAF1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 0px;
}

.initial-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 60px;
    margin-top: 15px;
}

#search{
    width: 800px;
    height: 30px;
    margin-top: 15px;
    font-size: 20px;
    border: solid black 2px;
}

::placeholder{
    color: black;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;
    background-color: #1F618D;
    padding-bottom: 5px;
}

.nav-bar a{
    text-decoration: none;
    color: #EAFAF1;
}

.title-color{
    color: #1F618D;
}

.text-color{
    color: black;
}

h1{
    font-size: 40px;
    font-weight: bold;
}

h2{
    font-size: 30px;
}

p{
    font-size: 20px;
    font-weight: bold;
}

main{
    display: flex;
    flex-direction: column;
}

main a{
    color: black;
    text-decoration: none;
}

.news{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: #1F618D;
    padding: 20px;
}

footer h3{
    font-size: 25px;
    font-weight: bold;
    color: #EAFAF1;
}

footer i{
    font-size: 40px;
    color: #EAFAF1;
}

footer p{
    font-size: 20px;
    color: #EAFAF1;
    font-weight: bold;
}

/* Bootstrap */
.alert{
    margin-bottom: 0px;
    border-radius: 0px;
}

.alert a{
    color: #1F618D;
    text-decoration: none;
    animation: join-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes join-animation{
    0%{
        opacity: 0.2;
    }
    10%{
        opacity: 0.3;
    }
    20%{
        opacity: 0.4;
    }
    30%{
        opacity: 0.6;
    }
    40%{
        opacity: 0.8;
    }
    50%{
        opacity: 1;
    }
    60%{
        opacity: 0.8;
    }
    70%{
        opacity: 0.6;
    }
    80%{
        opacity: 0.4;
    }
    90%{
        opacity: 0.3;
    }
    100%{
        opacity: 0.2;
    }
}

.fast-news{
    color: #1F618D;
    margin: 10px;
}

.row{
    color: #EAFAF1;
    background-color: #1F618D;
}

.card{
    margin-right: 10px;
    margin-left: 10px;
    border: solid #155724 1px;
    border-radius: 0px;
}

.card img{
    border: none;
    border-radius: 0px
}

.card-body a{
    font-size: 30px;
    color: #155724;
}
/* Bootstrap */

@media only screen and (max-width: 768px){
    body{
        text-align: center;
    }

    .initial-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 50px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #search{
        width: 250px;
        height: 30px;
        margin-top: 10px;
    }

    .nav-bar{
        font-size: 10px;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    h1{
        font-size: 30px;
    }

    h2{
        font-size: 20px;
    }

    p{
        font-size: 10px;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .news{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 300px;
    }
    
    .card-two{
        margin-top: 20px;
    }
}